
div#content{
	background-color: rgb(21, 231, 126);
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div h1, p, iframe{
	margin: 35px;
}

div#content div.leftbox{
	background-color: rgb(252, 255, 85);
	vertical-align: top;
}
div#content div.rightbox{
	background-color: rgb(247, 118, 118);
}
div#content div.annonce{
	background-color: rgb(192, 251, 253);
	width: 100%
	margin: 1;
}
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: white;
	background-color: rgb(255, 134, 255);
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: rgb(255, 134, 255);
	background-color: white;
	transition: 0.3s all;
}

header{
	background-color: rgb(255, 255, 255);
}

div.annonce img{
	border-radius: 50%;
}

footer{
	background-color: rgb(255, 255, 255);
}

/*p.welcome{
	color: #fff;
	background-color: #E21C44;
}

p.vivacss{
	color: #000;
	font-weight: bold;
}
body{
	background-color: #777;
}
h2.headline{
		font-size: 50px;
		padding-left: 200px;
}
a.{
	color#E21C44;
}*/